body {
  margin: 0;
  /* height: 100%; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  height: 100%;
  width: 100%;
  background-image: url('./Components/assets/nightSc.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed; 
  min-width: 100%;
  min-height: 100%;
}
.light {
  height: 100%;
  width: 100%;
  background-image: url('./Components/assets/daySc.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}